[submodule "radivs"]
	path = radivs
	url = git@github.com:chord-observatory/radivs.git
	branch = release
[submodule "radivs_examples"]
	path = radivs_examples
	url = git@github.com:chord-observatory/radivs_examples.git
